.width_100 {
  width: 100% !important;
}

.rounded_pill {
  border-radius: 5rem;
}

.filter-dark {
  filter: brightness(0.5);
}
.m-t-0 {
  margin-top: 0px !important;
}

@media (min-width: 600px) {
  #top_action_section {
    display: flex !important;
    align-items: center !important;
  }
}

/* .project_body_list .project_content {
  transition: all ease 200ms;
} جایگزین این مورد در util.css یافت شد*/

.project_body_list.active .project_content {
  transform: rotate(180deg);
}

.project_body_list.active,
.project_body_list.active .collapsible-header {
  background-color: rgba(100, 100, 100, 0.1);
}

table.highlight > tbody > tr:hover {
  background-color: rgba(185, 246, 105, 0.458);
}
/* } این استایل از فایل متریالایز برای تغییر رنگ به اینجا آورده شده */

.container{
  width: 100% !important;
}
/* بازنویسی و تغییر کوچک در container متریالایز */